.badge {
  display: inline-block;
  background-color: #ffffff;
  color: #b1b4b7;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 10px;
}
.back {
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  color: #b1b4b7;
  text-decoration: none;
}
.back:hover {
  color: #b1b4b7;
}
.email {
  width: 132px;
  height: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.86;
  letter-spacing: normal;
  text-align: left;
  color: #444;
}
